.alt-bg {
    background-color: $dark;
}

#top {
    padding-top: $padding-top-total;
}

.inline-ee {
    margin-left: -10px;
    margin-right: -10px;
}

.inline-mijn-ee {
    margin-top: -3px;
}

.auth-card {
    margin-top: 50px;

    .card-header {
        color: inherit;
        background-color: $theme-primary;
    }
}

a.prim-link {
    color: lighten($primary, 10%);

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $primary;
    }
}

.dropdown-item.active {
    color: initial;
    background-color: initial;
}

.danger-box {
    background-color: $light;
    padding: 18px;
    margin-top: 0.5rem;
    border-radius: 0.25rem;

    h3 {
        color: $danger;
    }
}

.alert-home {
    position: fixed;
    top: $header-height + 12px;
    right: 12px;
    z-index: 10;
}

// Dashboard
.app {
    margin-top: -$padding-top-total;
}

.app-header {
    position: fixed;
    padding: 0;

    .navbar-brand {
        width: 150px;

        @media (max-width: 992px) {
            margin: 0 auto;
        }
    }
}

.app-footer {
    font-size: 0.8em;
    background-color: $body-bg;
    border: 0;

    a {
        color: $theme-secondary;
    }
}

.main {
    .main-inner {
        padding: 1.5rem;
    }
}

.breadcrumb {
    border-bottom: 0;
    margin-bottom: 0;
}
