@import "./custom/variables";

// CoreUI variable overrides
$sidebar-nav-link-hover-bg: $theme-tertiary;
$sidebar-nav-link-active-bg: $gray;
$sidebar-nav-link-active-icon-color: $theme-primary;
$aside-menu-bg: lighten($theme-quaternary, 60%); // #f6f1e3
$aside-menu-borders: (
  left: (
    size: 2px,
    style: solid,
    color: $white
  )
);

// Variable declarations
$header-height: 53px;
$padding-top: 12px;
$padding-top-total: $header-height + $padding-top;
