// Styling for the contact section
section.contact {
    text-align: center;
    padding: 134px 0;
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 60px;
                line-height: 90px;
                display: block;
                width: 94px;
                height: 92px;
                color: white;
                border-radius: 100%;
            }

            &.social-github {
                a {
                    background-color: $theme-secondary;
                    &:hover {
                        background-color: darken($theme-secondary, 5%);
                    }
                }
            }
        }
    }
}
